.landing {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing h1 {
  font-size: 60px;
  color: white;
}

.landing p {
  color: #ccc;
}