body{
  margin:0;
  font-family:"Poppins",sans-serif;

  background:
  radial-gradient(circle at top,#2b5cff 0%,transparent 35%),
  radial-gradient(circle at bottom right,#7c3aed 0%,transparent 35%),
  #060816;

  color:white;

  overflow-x:hidden;

  min-height:100vh;
}

.glass{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.12);

border-radius:28px;

box-shadow:
0 15px 40px rgba(0,0,0,.35);

}