.dashboard{

width:min(1100px,90%);

margin:auto;

padding:40px;

display:flex;

flex-direction:column;

gap:35px;

}

.hero{

background:rgba(255,255,255,.12);

backdrop-filter:blur(22px);

border-radius:35px;

padding:40px;

text-align:center;

border:1px solid rgba(255,255,255,.15);

box-shadow:0 15px 40px rgba(0,0,0,.2);

}

.hero img{

width:170px;

}

.hero h1{

font-size:42px;

margin-top:-20px;

}

.hero h2{

font-size:95px;

font-weight:700;

margin:10px 0;

}

.hero p{

font-size:22px;

text-transform:capitalize;

color:#d9e7ff;

}

.hero span{

display:block;

margin-top:10px;

color:#9fdcff;

font-size:18px;

}

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}

.card{

background:rgba(255,255,255,.10);

border-radius:25px;

padding:25px;

text-align:center;

backdrop-filter:blur(20px);

transition:.3s;

border:1px solid rgba(255,255,255,.12);

}

.card:hover{

transform:translateY(-8px);

}

.card svg{

font-size:55px;

margin-bottom:15px;

color:#6EE7F9;

}

.card h3{

margin-bottom:10px;

}

.card p{

font-size:22px;

font-weight:600;

}