.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(18px);

  border-radius: 25px;

  padding: 30px;

  text-align: center;

  border: 1px solid rgba(255,255,255,.15);

  cursor: pointer;

  transition: .3s;
}

.card:hover{

box-shadow:0 0 35px rgba(110,231,249,.35);

}

.icon{

font-size:60px;

margin-bottom:15px;

color:#6EE7F9;

}

.card h3{

font-size:20px;

margin-bottom:12px;

}

.card p{

font-size:30px;

font-weight:700;

}