@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:"Poppins",sans-serif;

background:linear-gradient(135deg,#3b82f6,#06b6d4);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow-x:hidden;

}

#root{

width:100%;

display:flex;

justify-content:center;

}